@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
  	font-size: 20px;
  	color: #666666;
  	/* anti aliasing? stop x scrollbar?*/
  	  margin: 0px;
  	padding: 15px 15px;
  	display:block;
  	
	
}



#northern {
	position: fixed;
    bottom: 0px;
    right: 15px; /* hard code nmatch to body padding, should be js really*/ 
    transform-origin: bottom right; /* fixed to btoom right hand corneR */
    transform:scale(0.25);
    z-index:-1;
    
}

/* This will style the header */
.MenuBar {
    width: 100%;
    height: 80px;
    background-color: black; 
    color: white;             
    display: flex;            /* Flexbox for centering */
    justify-content: space-between;
    align-items: center;      
    font-size: 20px;          
padding: 15px 20px; /* Increased padding top/bottom */
	position:sticky;
	top:0px;
}

.MenuBar a {
    color: inherit; /* stop being blue on black */ 
    text-decoration: none; /* Removes underline etc */
}

.MenuBar .MenuList {
	color : grey;
	display: flex;
  	gap: 15px; /* Spacing between menu items */
}

#extraMenuBar .MenuList {
	color : grey;
	display: flex;
  	gap: 15px; /* Spacing between menu items */
}

.image {
 	max-width: 100%;
  	display: block;
}

html {
	scroll-behavior: smooth;
}

#mainBackgroundImage {
	 max-width:100%; /*needed to maintin crop at right hand side leaving the margin/padding set up in body else img overlayRHS margin*/
	display:block;
    width: calc(100% - 30px);
    /* height: 110vh; */
    
   
  	background-image: url('../img/main-banner.jpg');
    background-size: cover;
    background-position: 80% 25%; /* Adjusts cropping area */
    background-repeat: repeat-y; /* IF PAGE GOES BEYOND SIZE OF IMAGE REPEAT IT */
    font-size:50px;
    color:white;
    position: fixed;
	z-index: -1;
	min-height: 100%;
}

#samFirstContainer img {
	width:40%;
	float: right;
	position: sticky; /* come across sticky, seems to be my intention */
	top:calc(80px);
	padding : 0% 2%;
	 
}

#samFirstContainer img.stop-sticky {
	position:relative;
	display:none;
	
}

#samIntro {
	background-color:black;
	max-width:96%;
	width:56%;
	margin:2%;
	padding : 0px 20px;
}

#samFull {
	background-color:black;
	max-width:96%;
	width: 56%;
	margin:2%;
	padding : 20px;	
}

#samFull.expanded-width{
	width: 100%;
}


#mobile-special.expanded-width {
	width: 85vw;
	background-color:black;
	padding: 5px 5px;
}

#homePageTag{
	font-size:70px;
	color:white;
	padding:5px;
}
